@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employee Management";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2 vh-100 bg-dark">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a asp-controller="Employee" asp-action="Index" class="nav-link text-white">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Employee" asp-action="AddEmployee" class="nav-link text-white">Add Employee</a>
                </li>
            </ul>
        </div> 
        <div class="col-10 vh-100" id="dynamic-content">
            <h1 class="text-center">Employee List</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Name</th>
                        <th>Date Of Birth</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model) {
                        <tr>
                            <td>@emp.Employee_ID</td>
                            <td>@emp.Employee_Name</td>
                            <td>@emp.Employee_DoB.ToString("yyyy-MM-dd")</td>
                            <td>@emp.Employee_Email</td>
                            <td>@emp.Employee_Phone</td>
                            <td>@emp.Employee_Gender</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@emp.Employee_ID" class="btn btn-primary btn-sm">Edit</a>
                                <form asp-action="DeleteEmployee" method="post" asp-controller="Employee" class="d-inline">
                                    <input type="hidden" name="id" value="@emp.Employee_ID" />
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>